body{background: linear-gradient(to right, #c04848, #480048);min-height: 100vh}.text-gray{color: #aaa}img{height: 170px;width: 140px}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.img {
    height: 90px;
    width: 90px;
}